# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
//: Playground - noun: a place where people can play

import UIKit

struct Car {
    let model: String
    let make: String
    let color: String
    let year: Int
}

let cars = [Car(model: "CRV", make: "Honda", color: "Black", year: 2001),
            Car(model: "Accord", make: "Honda", color: "Red", year: 2003),
            Car(model: "530Xi", make: "BMW", color: "Black", year: 2006),
            Car(model: "318i", make: "BMW", color: "Red", year: 2003),
            Car(model: "F150", make: "Ford", color: "White", year: 2009),
            Car(model: "Wrangler", make: "Jeep", color: "Orange", year: 2006),
            Car(model: "X540i", make: "BMW", color: "White", year: 2001),
            Car(model: "F250", make: "Ford", color: "Orange", year: 2009)
]

let groupedCars = Dictionary(grouping: cars) { (car) -> String in
    return car.color
}

var finalGroupedCars = [[Car]]()
let keys = groupedCars.keys.sorted()
keys.forEach { (key) in
    finalGroupedCars.append(groupedCars[key]!)
}

finalGroupedCars.forEach({
    print("******************")
    $0.forEach({
        print($0)}
    )}
)
